<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Prowatermark">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Admin Panel</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/blog_user.css">

    <style>
          .active{
                color: #3f51b5;
            }
            h1 span{
                border-bottom: 8px solid #3f51b5;
                border-radius: 5px;
            }

            body{
                justify-content:center;
                align-items: center;     
            }
            
            .main-div {
                display: flex;
                justify-content:center;
                align-items: center;
            }
            @media screen and(min-width:1000px) {
                .container_body{
                    width: 100%;
                    height: 100vh;
                }
            }
            .container_body {
                margin-top: 100px;
            }

            .sidebar {
                
                padding: 10px 10px;
                min-width: 50px;
            }
            .widget {
              
                padding: 10px 10px;
                min-width: 50px;
            }
            .inside{
                border: none;
                border-radius: 10px;
                z-index: 1;
                word-wrap: break-word;
                padding: 15px 15px;
                width: 100%;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                max-width: 600px;
                margin-bottom: 10px;
            }
            
            img{
              max-width: 100%;
              max-height: 660px;
            }
            .createButton{
            margin-bottom: 10px;
            }
            .btn-outline-primary{
            border-color: #3f51b5;
            color: #3f51b5;
        }
        .btnn{
            background-color: #3f51b5;
            color: white;
        }
        .btn-primary{
            background-color: #3f51b5;
            color: white;
        }
        .btn-block:hover{
            background-color: #283686;
            color: white;
        }
        .inside > h2{
                letter-spacing: 4px;
                font: 20px "Lato", sans-serif;
                color: #111;
                margin-top: 0.9em;
                
            }
            .inside > p{
                font: 400 15px/1.8 "Lato", sans-serif;
                margin-top: 1em;
                margin-bottom: 1em;
                text-align: left;
                color:black;
            }
            .deleteBTN{
                float: right;
                margin-bottom: 5px;
            }
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
               .inside{
                width: 100%;
                max-width: 339px;
               }
            }
    </style>
</head>

<body>
    <script src="https://kit.fontawesome.com/712bd1b100.js" crossorigin="anonymous"></script>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->



    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            Pro<span style="color: #3f51b5;">watermark</span> 
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav justify-content-end">
                           
                        
                            <li class=""><a href="#!" class="menu-item active" onclick="window.location.href='/dashboard'">Admin Dashboard</a></li>
                            <li class=""><a href="#!" class="menu-item" onclick="window.location.href='/logout'">Log-out</a></li>
        
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div class="main-div">
        <div class="sidebar">
        </div>
   <!-- CREATE A POST  -->
    <div class="container_body">
 
        <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-center">What's on your mind?</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <div class="text-center">
                                      <div class="panel-body mt-3">
                                        <form method="POST" enctype="multipart/form-data" action="/blog_post">
                                          <fieldset>
                                              <div class="form-group">
                                                  <textarea class="form-control input-lg" placeholder="Title here..." name="title" required></textarea>
                                              </div>
                                              <div class="form-group">
                                                <textarea class="form-control input-lg" placeholder="Description here..." name="description" required></textarea>
                                             </div>
                                             <div class="form-group">
                                                <input type="file" class="form-control border-0"  placeholder="Upload Image" name="upload_image" required>
                                             </div>
                                              <!-- <div class="form-group">
                                                <input class="form-control input-lg" placeholder="Old Password" name="password" type="password">
                                             </div>
                                             <div class="form-group">
                                              <input class="form-control input-lg" placeholder="New Password" name="newpassword" type="password">
                                             </div> -->
                                              <input class="btn btn-lg btn-primary btn-block" value="Create Post" type="submit">
                                          </fieldset>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                    <button class="btn float-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>	
                </div>
            </div>
            </div>
          </div>
      <!-- END CREATE POST -->
      
      <!-- USER LIST -->
      <div id="pwdModal_userList" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">User List</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div class="text-center">
                                  <div class="panel-body mt-3">
                                    <%
                                    if(userData.length!=0){
                                  
                                    userData.forEach(function(data){
                                    %>                             
                                        <ul style="text-align: left;">
                                            <li><span style="color: #3f51b5;">Name: </span><%=data.fullname %></li>
                                            <li><span style="color: Red;">Email: </span><%=data.email %></li>
                                            <p style="margin-bottom: 2px;"><hr></p>
                                        </ul>
                                    <%  }) %>
                                    <% } else{ %>
                                        <tr>
                                            <td colspan="7">No Data Found</td>
                                        </tr>
                                    <% } %>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                <button class="btn float-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>	
            </div>
        </div>
        </div>
      </div>
     <!-- END USER LIST -->
    
       <a href="#"  data-target="#pwdModal" data-toggle="modal" class="createButton btn btn-success"><strong>+</strong> Create Post</a>
       <a href="#"  data-target="#pwdModal_userList" data-toggle="modal"  class="createButton btn btn-secondary">User List</a>
        <%
            if(userData.length!=0){
            
            userData.reverse().forEach(function(data){    
            %>   <div class="inside">   
                <form action="/delete/<%=data.id%>" method="POST" class="deleteBTN">
                <input  type="submit" value="X" class="btn btn-danger btn-sm"></input>
                </form>
                <img class="img" id="image" src="<%= data.image %>" alt="">
            
                <h2 class="text-uppercase"><%=data.title %></h2>
                <p><%=data.description %></p>
                
               </div> 
            <%  }) %>
            <% } else{ %>
                
                    <p colspan="7">No Data Found</p>
            
            <% } %>
        </div>

        <div class="widget">
        </div>
    </div>
  
    <!-- ***** Footer Start ***** -->
    <section >
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4 mb-2" style="color: white;">Pricing</h1>
      <p class="lead" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda saepe nesciunt ratione corporis esse. Beatae voluptas similique alias ut distinctio, nihil assumenda minima nemo,</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$9 <small class="">/ Lifetime</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Unlimited Photos</li>
              <li>Unlimited Sizes</li>
              <li>Premium Templates</li>
              <li>Premium Fonts</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary btnn"  onclick="window.location.href='/signup'">Get started</button>
          </div>
        </div>
        
      </div>

      <footer class="pt-2 my-md-5 pt-md-5 border-top" > 
        <div class="row">
          <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12">
            <a href="/" class="logo text-uppercase" style="color:#fff;">
                            Prowatermark
                        </a>
            <small class="d-block" style="color: white;">&copy; 2020-2021</small>
          </div>
          <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12">
            <h5 style="color: white;">Features</h5>
            <ul class="list-unstyled text-small" >
              <li><a class="" href="#">Home</a></li>
              <li><a class="" href="#">About</a></li>
              <li><a class="" href="#">Watermark Photos</a></li>
              <li><a class="" href="#">Stuff for developers</a></li>
              <li><a class="" href="#">Contact</a></li>
              <li><a class="" href="#">prowatermark@gmail.com</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12">
            <h5 style="color: white;">Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="" href="#">Resource</a></li>
              <li><a class="" href="#">Resources main</a></li>
              <li><a class="" href="#">Another resource</a></li>
              <li><a class="" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-12 col-lg-3 col-sm-12">
            <h5 style="color: white;">About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="" href="#">Team</a></li>
              <li><a class="" href="#">Locations</a></li>
              <li><a class="" href="#">Privacy</a></li>
              <li><a class="" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);  color: white;">
          © 2021, No Copyright Infrigement Intended. 
        </div>
    </section>
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

</body>
</html>